/*
 * Fonts
 */


@font-face {
  font-family: "gangster_grotesklight";
  src: url("gangstergrotesk-light-webfont.woff2") format("woff2"),
       url("gangstergrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gangster_groteskregular";
  src: url("gangstergrotesk-regular-webfont.woff2") format("woff2"),
       url("gangstergrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "league_monoregular";
  src: url("leaguemono-regular-webfont.woff2") format("woff2"),
       url("leaguemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "synebold";
  src: url("syne-bold-webfont.woff2") format("woff2"),
       url("syne-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "syneextrabold";
  src: url("syne-extrabold-webfont.woff2") format("woff2"),
       url("syne-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
