/*
 *  Components - Button
 */

/* purgecss start ignore */

@use 'components-icons' as icons;
@use 'tools';

.c-icon-button {

  --icon-button-size: 1.8rem;
  --icon-button-spacing:  0.5rem;
  --icon-button-color-fg: var(--color-fg);
  --icon-button-color-bg: var(--color-bg);
  --icon-button-color-border: var(--color-fg);
  --icon-button-color-shadow: var(
    --color-semi-transparent
  );
  --icon-button-color-shadow-hover: var(
    --color-semi-transparent-alternate
  );
  --icon-button-font-weight: normal;
  --icon-button-thickness: calc(var(--icon-button-size)/(16*1.5) * 1.3);

  align-items: center;
  background-color: var(
    --icon-button-color-bg
  );
  border: solid 1px var(--icon-button-color-border);
  border-radius: 100%;
  box-shadow: var(--shadow-sm);;
  color: inherit;
  cursor: pointer;
  display: grid;
  font-family: var(--icon-button-font);
  font-weight: var(--icon-button-font-weight);
  grid-template-columns: calc(var(--icon-button-size));
  grid-template-rows: calc(var(--icon-button-size));
  letter-spacing: 0.025em;
  outline: none;
  padding-left: calc(var(--icon-button-spacing) / 6);
  padding-right: calc(var(--icon-button-spacing) / 6);
  padding-bottom: calc(var(--icon-button-spacing) / 6);
  padding-top: calc(var(--icon-button-spacing) / 6);
  text-transform: uppercase;
  transition-duration: var(
    --icon-transition-duration
  );
  z-index: 9;
}

@media(min-width: 48rem) {

  .c-icon-button {

    --icon-button-size: 2rem;

  }

}


@media(min-width: 75rem) {

  .c-icon-button {

    --icon-button-size: 2.2rem;

  }

}

.c-icon-button:active {
  transform: translateY(2px);
}

.c-icon-button:hover{
  box-shadow: 0 0 1px 4px
    var(--icon-button-color-shadow-hover);
}


.c-icon-button i {
  display: grid;
  height: 100%;
  padding: 0.3em;
  place-content: stretch;
  position: relative;
  text-transform: none;
  width: 100%;
}

.c-icon-button i:before {
  background-color: var(--color-fg);
  width: 100%;
  height: 100%;
}

@each $name, $code in icons.$svg-icons {

  /* purgecss ignore */
  .c-icon-button--#{$name} i:before {
    content: '';
    mask: var(--svg-#{$name});
    mask-size: cover;
    -webkit-mask: var(--svg-#{$name});
    -webkit-mask-size: cover;
  }

}

.c-icon-button--close i {
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
}

.c-icon-button--close i::before,
.c-icon-button--close i::after {
  background-color: var(
    --icon-button-color-fg
  );
  content: '';
  height: 55%;
  position: absolute;
  transform-origin: center;
  width: calc(
    var(--icon-button-thickness)
  );
}

.c-icon-button--close i::before {
  transform: rotate(-45deg);
}

.c-icon-button--close i::after {
  transform: rotate(45deg);
}

/* purgecss end ignore */