/*
 *  Components - Button
 */


.c-button {
  background-color: var(--button-color-bg);
  border-color: var(--button-color-border);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 0 var(--button-color-shadow);
  color: var(--button-color-fg);
  cursor: pointer;
  font-family: var(--font-normal-bolder);
  font-size: .75rem;
  letter-spacing: .075em;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all var(--button-transition-duration);
}


@media (min-width:45em) {

  .c-button {
    font-size: .85rem;
    letter-spacing: .1em;
    padding-left: .8rem;
    padding-right: .8rem;
  }

}

.c-button:active {
  box-shadow: 0 0px 0 var(--button-color-shadow);
  transform: translateY(2px);
}

.c-button:focus {
  outline: none;
}

.c-button:hover {
  background-color: var(--button-color-bg-hover);
}

.c-button.is-expanded {
  background-color: var(--button-color-bg);
  box-shadow:
    0 0 0 100vmax
    var(--button-color-bg);
  border-color: var(--button-color-bg);
  color: var(--button-color-bg);
  position: relative;
  z-index: 9;
}

.c-button--large {
  font-size: .9rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.c-button--block {
  width: 100%;
}



