/*
 *  Components - Button
 */

c-button {
  display: inline-grid;
  height: 2.5rem;
  grid-template-rows: 100%;
  width: var(--button-width);
}


c-button .c-button {
  height: 100%;
}

.c-button {
  align-content: center;
  align-items: start;
  background-color: var(--color-button-bg);
  border-color: var(--color-subtle-contrast);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 0 var(--color-subtle);
  color: var(--color-button-fg);
  cursor: pointer;
  display: inline-grid;
  font-family: var(--font-main-regular), sans-serif;
  font-weight: var(--font-main-regular-weight);
  font-size: var(--text-size-small-1);
  grid-auto-flow: column;
  grid-gap: var(--spacing-size-1);
  grid-template-rows: 0.8em;
  height: 2.5rem;
  justify-content: center;
  letter-spacing: .05em;
  line-height: 1;
  padding-left: calc(var(--spacing-size-2) * .8);
  padding-right: calc(var(--spacing-size-2) * .8);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    all var(--transition-duration);
  will-change: box-shadow, opacity;
}

@media (min-width:48em) {

  .c-button {
    font-size: .75em;
    letter-spacing: .1em;
    padding-left: var(--spacing-size-2);
    padding-right: var(--spacing-size-2);
  }

  .c-button:has(i) {
    padding-left: calc(var(--spacing-size-2) * 1.1);
    padding-right: calc(var(--spacing-size-2) * 1.1);
  }
}

.c-button:active {
  box-shadow: 0 0px 0 var(--color-subtle);
  transform: translateY(2px);
}

.c-button:focus {
  outline: none;
}

.c-button:hover {
  background-color: var(--color-button-bg-hover);
  border-color: var(--color-subtle-contrast);
}

.c-button.is-expanded {
  background-color: var(--color-button-bg);
  box-shadow:
    0 0 0 100vmax
    var(--color-button-bg);
  border-color: var(--color-button-bg);
  color: var(--color-button-bg);
  position: relative;
  z-index: 9;
}

.c-button i,
.c-button c-icon {
  align-self: center;
}

.c-button i {
  font-size: 1.5em;
}

.c-button--large {
  font-size: var(--text-size-normal);

  & i {
    font-size: var(--text-size-large-1);
  }
}

.c-button--block {
  width: 100%;
}
