/*
 *  Elements - Base
 */

*::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
  -webkit-text-stroke-color: var(--color-bg);
}

:root {
  --doc-height: 100%;
}

:root,
body,
main {
  max-width: 100vw;
  font-size: clamp(
      0.9rem,
      12px + 0.4vw,
      1.1rem
    );
}

:root {
  --doc-height: 100%;
  height: 100vh !important;
  height: var(--doc-height) !important;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  height: 100%;
}

main {
  height: 100%;

}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

hr {
  -webkit-backdrop-filter: blur(20em);
  backdrop-filter: blur(20em);
  background-color:  var(--color-subtle-alternate);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 1.25px;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-position: inside;
  margin-top: 0;
}

li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.25rem 1fr;
  list-style-type: none;
  margin-bottom: .2em;
  margin-top: 0;
}

li::before {
  content: '– ';
  padding-right: .25em;
}
