/*
 *  Elements - Text
 */


a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
}

strong {
  font-family: var(--font-primary-bolder);
  font-weight: var(--font-primary-bolder-weight);
}
