/*
 *  Elements - Text
 */


body {
  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-main-weight);
}

a {
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
  font-weight: var(--font-heading-weight);
  line-height: 1.1;
}

h1 {
  line-height: 1.2;
}

h1, h2, h3 {
  font-size: 1.5rem;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 2.2rem);
}

h4, h5, h6 {
    font-size: 1.5rem;
    font-size: clamp( 1.2rem, 1rem + 2vw, 1.8rem )
}

strong {
  font-family: var(--font-main-regular), sans-serif;
  font-weight: var(--font-main-regular-weight);
}
