/*
 *  Elements - Base
 */

*::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
  -webkit-text-stroke-color: var(--color-bg);
}

:root {
  --doc-height: 100%;
}

:root,
body,
main {
  max-width: 100vw;
}

:root {
  --doc-height: 100%;
  height: 100vh !important;
  height: var(--doc-height) !important;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  height: 100%;
}

main {
  height: 100%;

}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
