/*
 *  Elements - Base
 */

*::selection {
  background-color: var(--color-fg);
  color: var(--color-bg);
  -webkit-text-stroke-color: var(--color-bg);
}

:root,
body,
main {
  height: 100% !important;
  max-height: 100%  !important;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-main-light);
  font-weight: var(--font-main-weight);
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
