/*
 *  Theme
 */


/* Root */

:root {
  --spacing-unit: .25rem;
  --spacing-responsive-x: calc(.25rem + 1vw);
  --spacing-responsive-y: calc(.25rem + 1vh);

  --font-main-light: 'work_sanslight';
  --font-main-light-weight: 'normal';
  --font-main-regular: 'work_sansregular';
  --font-main-regular-weight: 'normal';
  --font-main-medium: 'work_sansmedium';
  --font-main-medium-weight: 'normal';
  --font-main-semibold: 'work_sanssemibold';
  --font-main-semibold-weight: 'normal';
  --font-accent: 'league_monoregular';
  --font-accent-weight: 'normal';
  --font-display: 'syneextrabold';
  --font-display-weight: 'normal';
  --font-heading: 'synebold';
  --font-heading-weight: 'normal';
  --font-mono: 'league_monoregular';
  --font-mono-weight: 'normal';

  --transition-duration: .5s;

  --theme-dark-opacity:  0;
  --theme-light-opacity: 0;

  --bg-pattern-diagonal-size: 5px;
  --bg-pattern-diagonal-tight-size: 4px;

}

[data-theme=dark] {
  --color-bg: #6E4ECE;
  --color-fg: #F1EDFF;
  --color-accent: #95D6EB;
  --color-subtle: #46378F;
  --color-subtle-alternate: #897DD1;
  --color-muted: #9E9ECA;
  --color-opaque: rgba(0,0,0,.2);
  --color-opaque-heavy: rgba(0,0,0,.22);
  --color-opaque-alternate: rgba(255,255,255,.175);
  --color-opaque-overlay: rgba(0,0,0,0.02);
  --color-opaque-shadow: rgba(0,0,0,.1);
  --opacity-noise: .4;
  --opacity-noise-heavy: .6;
  --opacity-noise-overlay: .4;

  --theme-dark-opacity: 1;
}

[data-theme=light] {
  --color-bg: #B3B3E7;
  --color-fg: #342469;
  --color-accent: #6D43E8;
  --color-subtle: #46378F;
  --color-subtle-alternate: #46378F;
  --color-muted: #9E9ECA;
  --color-opaque: rgba(0,0,0,.2);
  --color-opaque-heavy: rgba(0,0,0,.22);
  --color-opaque-alternate: rgba(0,0,0,.175);
  --color-opaque-overlay: rgba(255,255,255,.02);
  --color-opaque-shadow: rgba(0,0,0,.1);
  --opacity-noise: .25;
  --opacity-noise-heavy: .4;
  --opacity-noise-overlay: .25;

  --theme-light-opacity: 1;
}
