/*
 *  Theme
 */

@use 'tokens' as *;

/* Root */

:root {
  --wrapper-max: 80rem;

  --font-main: var(--font-main-light);
  --font-main-weight: var(--font-main-light-weight);
  --font-main-light: 'roc-grotesk';
  --font-main-light-weight: 300;
  --font-main-regular: 'roc-grotesk';
  --font-main-regular-weight: 400;
  --font-main-medium: 'roc-grotesk';
  --font-main-medium-weight: 500;
  --font-main-semibold: 'roc-grotesk';
  --font-main-semibold-weight: 500;
  --font-main-weight: var(--font-main-light-weight);
  --font-accent: 'league_monoregular';
  --font-accent-weight: 'normal';
  --font-display: 'roc-grotesk-extrawide';
  --font-display-weight: 700;
  --font-heading: 'roc-grotesk-wide';
  --font-heading-weight: 500;
  --font-mono: 'league_monoregular';
  --font-mono-weight: 'normal';

  --transition-duration: .5s;

  --theme-dark-opacity:  0;
  --theme-light-opacity: 0;

  --bg-pattern-diagonal-size: 0.3125rem;
  --bg-pattern-diagonal-tight-size: .25rem;

  --color-button-bg: #{$colors-button-primary-bg};
  --color-button-bg-hover: #{$colors-button-primary-bg-hover};
  --color-button-fg: #{$colors-button-primary-f0};
  --color-semi-transparent: #{$colors-semi-transparent};
  --color-semi-transparent-heavy: #{$colors-semi-transparent-heavy};
  --color-semi-transparent-shadow: #{$colors-semi-transparent-shadow};
  --color-muted: #{$colors-muted};
  --color-subtle: #{$colors-medium-dark};
  --color-subtle-contrast: #{$colors-dark};

  --shadow-subtle-small:
    var(--color-semi-transparent-shadow)
    #{
      ($box-shadow-subtle-small-0-x * 1px)
      ($box-shadow-subtle-small-0-y * 1px)
      ($box-shadow-subtle-small-0-blur * 1px)
      ($box-shadow-subtle-small-0-spread * 1px)
    },
    var(--color-semi-transparent-shadow)
    #{
      ($box-shadow-subtle-small-1-x * 1px)
      ($box-shadow-subtle-small-1-y * 1px)
      ($box-shadow-subtle-small-1-blur * 1px)
      ($box-shadow-subtle-small-1-spread * 1px)
    };
  --shadow-subtle:
    var(--color-semi-transparent-shadow)
    #{
      ($box-shadow-subtle-0-x * 1px)
      ($box-shadow-subtle-0-y * 1px)
      ($box-shadow-subtle-0-blur * 1px)
      ($box-shadow-subtle-0-spread * 1px)
    },
    var(--color-semi-transparent-shadow)
    #{
      ($box-shadow-subtle-1-x * 1px)
      ($box-shadow-subtle-1-y * 1px)
      ($box-shadow-subtle-1-blur * 1px)
      ($box-shadow-subtle-1-spread * 1px)
    };
}

/* purgecss ignore */
[data-theme="dark"] {
  --color-bg: #{$colors-td-bg};
  --color-bg-semi-transparent: #{rgba($colors-td-bg, 0.85)};
  --color-bg-semi-transparent-subtle: #{rgba($colors-td-bg, 0.5)};
  --color-fg: #{$colors-td-f0};
  --color-accent: #{$colors-td-accent};
  --color-subtle-alternate: #{$colors-td-f1};
  --color-semi-transparent-alternate: #{$colors-td-semi-transparent-alternate};
  --color-semi-transparent-overlay: #{$colors-td-semi-transparent-overlay};
  --theme-dark-opacity: 1;
}

/* purgecss ignore */
[data-theme="light"] {
  --color-bg: #{$colors-tl-bg};
  --color-bg-semi-transparent: #{rgba($colors-tl-bg, 0.85)};
  --color-bg-semi-transparent-subtle: #{rgba($colors-tl-bg, 0.5)};
  --color-fg: #{$colors-tl-f0};
  --color-accent: #{$colors-tl-accent};
  --color-subtle-alternate: #{$colors-tl-f1};
  --color-semi-transparent-alternate: #{$colors-tl-semi-transparent-alternate};
  --color-semi-transparent-overlay: #{$colors-tl-semi-transparent-overlay};
  --theme-light-opacity: 1;
}
