/*
 *  Utilites
 */


/* Text */

.u-text-large-1,
.u-text-large-2,
.u-text-large-3,
.u-text-large-4,
.u-text-large-5,
.u-text-large-6 {
  line-height: 1.5 !important;
}

.u-text-large-2 {
  font-size: 1.2rem !important;
  font-size: clamp( 1.1rem, 16px + 1vw, 1.3rem ) !important;
}

.u-text-large-3 {
  font-size: 1.4rem !important;
  font-size: clamp( 1.2rem, 18px + 1vw, 1.5rem ) !important;
}

.u-text-title {
  font-family: var(--font-accent) !important;
  font-size: .66rem;
  font-size: clamp( .55rem, .25rem + .25vw, .66rem );
  font-weight: var(--font-accent-weight) !important;
  line-height: 1.4 !important;
  text-transform: uppercase !important;
}

@media (min-width:45em) {

  .u-text-title {
    font-size: .75rem !important;
  }

}

.u-text-heading {
  font-family: var(--font-heading) !important;
  font-weight: var(--font-heading-weight) !important;
}

.u-text-display {
  font-family: var(--font-display) !important;
  font-weight: var(--font-display-weight) !important;
}

.u-text-mono {
  font-family: var(--font-mono) !important;
  font-weight: var(--font-mono-weight) !important;
}

.u-text-bolder {
  font-family: var(--font-main-regular) !important;
  font-weight: var(--font-main-regular-weight) !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-outline {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: var(--color-fg) !important;
}


/* Wrapper Full */

.u-wrapper-full {
  height: 100%;
  width: 100%;
}


/* Borders */

.u-border-top-accent-alternate {
  border-top: solid 1px var(--color-subtle-alternate) !important;
}

.u-border-bottom-accent-alternate {
  border-bottom: solid 1px var(--color-subtle-alternate) !important;
}

.u-border-vertical-accent-alternate {
  border-bottom: solid 1px var(--color-subtle-alternate) !important;
  border-top: solid 1px var(--color-subtle-alternate) !important;
}


/* Positioning */

.u-position-relative {
  position: relative !important;
}


/* Margin */

.u-margin-top-px {
  margin-top: 1px;
}


/* Max Dimensions */

.u-max-width-30 {
  max-width: 30rem !important;
}

.u-max-width-40 {
  max-width: 40rem !important;
}

.u-max-width-50 {
  max-width: 50rem !important;
}

.u-max-height-30 {
  max-height: 30rem !important;
}

.u-max-height-40 {
  max-height: 40rem !important;
}

.u-max-height-50 {
  max-height: 50rem !important;
}


/* Cursor */

.u-cursor-zoom-in {
  cursor: zoom-in !important;
}


/* Blend Mode */

.u-blend-mode-screen {
  mix-blend-mode: screen !important;
}

.u-blend-mode-luminosity {
  mix-blend-mode: luminosity !important;
}


/* Visibility */

.u-transparent {
  opacity: 0 !important;
}

.u-hidden{
  display: none !important;
  visibility: hidden !important;
}

@media (max-width:25em) {

  .u-hidden\@small {
    display: none !important;
    visibility: hidden !important;
  }

}

@media (max-width:35em) {

  .u-hidden\@mobile {
    display: none !important;
    visibility: hidden !important;
  }

}

@media (max-width:45em) {

  .u-hidden\@tablet {
    display: none !important;
    visibility: hidden !important;
  }

}


/* Theme Fill */

.u-theme-fill,
.u-theme-fill svg {
  fill: var(--color-fg) !important;
}



/* Separators */

.u-separator,
.u-separator-alternate {
  background-color: transparent;
  border: none !important;
  background-repeat: repeat !important;
  background-position: 0 0 !important;
  background-size:
    var(--bg-pattern-diagonal-tight-size)
    var(--bg-pattern-diagonal-tight-size) !important;
  height: .5rem !important;
  margin-bottom: 0;
  margin-top: 0;
  width: 100% !important;
}

.u-separator {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent)   0.00%,
    var(--color-semi-transparent)  12.50%,
    transparent          12.51%,
    transparent          37.49%,
    var(--color-semi-transparent)  37.50%,
    var(--color-semi-transparent)  62.50%,
    transparent          62.51%,
    transparent          87.49%,
    var(--color-semi-transparent)  87.50%,
    var(--color-semi-transparent) 100.00%
  ) !important;
  box-shadow: inset 0 0 0 1px var(--color-subtle) !important;
}

.u-separator-alternate {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent-alternate)   0.00%,
    var(--color-semi-transparent-alternate)  12.50%,
    transparent                    12.51%,
    transparent                    37.49%,
    var(--color-semi-transparent-alternate)  37.50%,
    var(--color-semi-transparent-alternate)  62.50%,
    transparent                    62.51%,
    transparent                    87.49%,
    var(--color-semi-transparent-alternate)  87.50%,
    var(--color-semi-transparent-alternate) 100.00%
  ) !important;
  box-shadow: inset 0 0 0 1px var(--color-subtle-alternate) !important;
}

.u-separator-thin,
.u-separator-thin-alternate {
  border: none !important;
  height: 1px !important;
  width: 100% !important;
}

.u-separator-thin {
  background-color: var(--color-subtle) !important;
}

.u-separator-thin-alternate {
  background-color: var(--color-subtle-alternate) !important;
}


/* Backgrounds & Overlays */

.u-bg-color-subtle {
  background-color: var(--color-subtle) !important;
}

.u-bg-color-subtle-alternate {
  background-color: var(--color-subtle-alternate) !important;
}

.u-bg-color-muted {
  background-color: var(--color-muted) !important;
}

.u-bg-color-accent {
  background-color: var(--color-accent) !important;
}

.u-bg-color-foreground {
  background-color: var(--color-fg) !important;
}

.u-bg-color-main {
  background-color: var(--color-bg) !important;
}

.u-bg-color-semi-transparent {
  background-color: var(--color-semi-transparent) !important;
}

.u-bg-color-semi-transparent-alternate {
  background-color: var(--color-semi-transparent-alternate) !important;
}

.u-bg-color-white {
  background-color: #FFFFFF !important;
}

.u-bg-color-black {
  background-color: #000000 !important;
}

.u-bg-color-gray {
  background-color: #BBBBBB !important;
}

.u-bg-pattern-diagonal,
.u-bg-pattern-diagonal-alternate {
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-size:
    var(--bg-pattern-diagonal-size)
    var(--bg-pattern-diagonal-size) !important;
}

.u-bg-pattern-diagonal {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent-heavy)   0.00%,
    var(--color-semi-transparent-heavy)   6.24%,
    transparent                 6.25%,
    transparent                43.74%,
    var(--color-semi-transparent-heavy)  43.75%,
    var(--color-semi-transparent-heavy)  56.25%,
    transparent                56.26%,
    transparent                93.74%,
    var(--color-semi-transparent-heavy)  93.75%,
    var(--color-semi-transparent-heavy) 100.00%
  ) !important;
}

.u-bg-pattern-diagonal-alternate {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent-alternate)   0.00%,
    var(--color-semi-transparent-alternate)   6.24%,
    transparent                     6.25%,
    transparent                    43.74%,
    var(--color-semi-transparent-alternate)  43.75%,
    var(--color-semi-transparent-alternate)  56.25%,
    transparent                    56.26%,
    transparent                    93.74%,
    var(--color-semi-transparent-alternate)  93.75%,
    var(--color-semi-transparent-alternate) 100.00%
  ) !important;
}

.u-bg-pattern-diagonal-tight,
.u-bg-pattern-diagonal-tight-alternate {
  background-repeat: repeat !important;
  background-position: 0 0 !important;
  background-size:
    var(--bg-pattern-diagonal-tight-size)
    var(--bg-pattern-diagonal-tight-size) !important;
}

.u-bg-pattern-diagonal-tight {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent)   0.00%,
    var(--color-semi-transparent)  12.50%,
    transparent          12.51%,
    transparent          37.49%,
    var(--color-semi-transparent)  37.50%,
    var(--color-semi-transparent)  62.50%,
    transparent          62.51%,
    transparent          87.49%,
    var(--color-semi-transparent)  87.50%,
    var(--color-semi-transparent) 100.00%
  ) !important;
}

.u-bg-pattern-diagonal-tight-alternate {
  background-image: linear-gradient(
    -45deg,
    var(--color-semi-transparent-alternate)   0.00%,
    var(--color-semi-transparent-alternate)  12.50%,
    transparent                    12.51%,
    transparent                    37.49%,
    var(--color-semi-transparent-alternate)  37.50%,
    var(--color-semi-transparent-alternate)  62.50%,
    transparent                    62.51%,
    transparent                    87.49%,
    var(--color-semi-transparent-alternate)  87.50%,
    var(--color-semi-transparent-alternate) 100.00%
  ) !important;
}


/* List */

.u-list-inline li {
  display: inline-block;

  &::before {
    content: none
  }
}


/* Animations */

.u-animation-wave {
  animation: wave ease-in-out 3s infinite !important;
  transform-origin: 50% 80% !important;
}


@keyframes wave {
    0% { transform: rotate( -35deg) }
   50% { transform: rotate(  35deg) }
  100% { transform: rotate( -35deg) }
}
