/*
 *  Main
 */


@use 'imports';

@use 'node_modules/@substructure/settings';
@use 'node_modules/@substructure/tools';
@use 'node_modules/@substructure/generic-initialize';
@use 'node_modules/@substructure/generic-shared';
@use 'node_modules/@substructure/elements-base';
@use 'node_modules/@substructure/elements-text';
@use 'node_modules/@substructure/objects-layout';
@use 'node_modules/@substructure/objects-media';
@use 'node_modules/@substructure/objects-wrapper';
@use 'node_modules/@substructure/utilities-sizing';
@use 'node_modules/@substructure/utilities-spacing';
@use 'node_modules/@substructure/utilities-text-align';
@use 'node_modules/@substructure/utilities-text-sizing';
@use 'node_modules/@substructure/utilities-z-index';

@use 'theme';
@use 'components-awwwards';
@use 'components-button';
@use 'components-icon-button';
@use 'components-lightbox';
@use 'components-media-grid';
@use 'components-page-footer';
@use 'components-skill-list';
@use 'elements-base' as elements-base-local;
@use 'elements-text' as elements-text-local;
@use 'utilities';


.js-canvas-paint,
.js-canvas-paint canvas {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#flowmap {
  height: 100vh;
}

#skills,
#work {
  background-color: var(--color-bg);
}
